<!DOCTYPE html>
<html lang="UTF-8">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

	<link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="../css/font-awesome.min.css">
	<link rel="stylesheet" href="../css/main.css">
	<style>
	.tree li {
        list-style-type: none;
		cursor:pointer;
	}
	table tbody tr:nth-child(odd){background:#F4F4F4;}
	table tbody td:nth-child(even){color:#C00;}
	</style>
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <div><a class="navbar-brand" style="font-size:32px;" href="#">众筹平台 - 用户维护</a></div>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li style="padding-top:8px;">
				<div class="btn-group">
				  <button type="button" class="btn btn-default btn-success dropdown-toggle" data-toggle="dropdown">
					<i class="glyphicon glyphicon-user"></i> admin <span class="caret"></span>
				  </button>
					  <ul class="dropdown-menu" role="menu">
						<li><a href="#"><i class="glyphicon glyphicon-cog"></i> 个人设置</a></li>
						<li><a href="#"><i class="glyphicon glyphicon-comment"></i> 消息</a></li>
						<li class="divider"></li>
						<li><a href="index.html"><i class="glyphicon glyphicon-off"></i> 退出系统</a></li>
					  </ul>
			    </div>
			</li>
            <li style="margin-left:10px;padding-top:8px;">
				<button type="button" class="btn btn-default btn-danger">
				  <span class="glyphicon glyphicon-question-sign"></span> 帮助
				</button>
			</li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
			<div class="tree">
				<ul style="padding-left:0px;" class="list-group">
					<li class="list-group-item tree-closed" >
						<a href="main.html"><i class="glyphicon glyphicon-dashboard"></i> 控制面板</a> 
					</li>
					<li class="list-group-item">
						<span><i class="glyphicon glyphicon glyphicon-tasks"></i> 权限管理 <span class="badge" style="float:right">3</span></span> 
						<ul style="margin-top:10px;">
							<li style="height:30px;" id="ll">
								<a href="user.html" style="color:red;"><i class="glyphicon glyphicon-user"></i> 用户维护</a> 
							</li>
							<li style="height:30px;">
								<a href="role.html"><i class="glyphicon glyphicon-king"></i> 角色维护</a> 
							</li>
							<li style="height:30px;">
								<a href="permission.html"><i class="glyphicon glyphicon-lock"></i> 许可维护</a> 
							</li>
						</ul>
					</li>
					<li class="list-group-item tree-closed">
						<span><i class="glyphicon glyphicon-ok"></i> 业务审核 <span class="badge" style="float:right">3</span></span> 
						<ul style="margin-top:10px;display:none;">
							<li style="height:30px;">
								<a href="auth_cert.html"><i class="glyphicon glyphicon-check"></i> 实名认证审核</a> 
							</li>
							<li style="height:30px;">
								<a href="auth_adv.html"><i class="glyphicon glyphicon-check"></i> 广告审核</a> 
							</li>
							<li style="height:30px;">
								<a href="auth_project.html"><i class="glyphicon glyphicon-check"></i> 项目审核</a> 
							</li>
						</ul>
					</li>
					<li class="list-group-item tree-closed">
						<span><i class="glyphicon glyphicon-th-large"></i> 业务管理 <span class="badge" style="float:right">7</span></span> 
						<ul style="margin-top:10px;display:none;">
							<li style="height:30px;">
								<a href="cert.html"><i class="glyphicon glyphicon-picture"></i> 资质维护</a> 
							</li>
							<li style="height:30px;">
								<a href="type.html"><i class="glyphicon glyphicon-equalizer"></i> 分类管理</a> 
							</li>
							<li style="height:30px;">
								<a href="process.html"><i class="glyphicon glyphicon-random"></i> 流程管理</a> 
							</li>
							<li style="height:30px;">
								<a href="advertisement.html"><i class="glyphicon glyphicon-hdd"></i> 广告管理</a> 
							</li>
							<li style="height:30px;">
								<a href="message.html"><i class="glyphicon glyphicon-comment"></i> 消息模板</a> 
							</li>
							<li style="height:30px;">
								<a href="project_type.html"><i class="glyphicon glyphicon-list"></i> 项目分类</a> 
							</li>
							<li style="height:30px;">
								<a href="tag.html"><i class="glyphicon glyphicon-tags"></i> 项目标签</a> 
							</li>
						</ul>
					</li>
					<li class="list-group-item tree-closed" >
						<a href="param.html"><i class="glyphicon glyphicon-list-alt"></i> 参数管理</a> 
					</li>
				</ul>
			</div>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
			<div class="panel panel-default">
			  <div class="panel-heading">
				<h3 class="panel-title"><i class="glyphicon glyphicon-th"></i> 数据列表</h3>
			  </div>
			  <div class="panel-body">
<form class="form-inline" role="form" style="float:left;">
  <div class="form-group has-feedback">
    <div class="input-group">
		<!-- 当前页数 -->
		<input type="hidden" id="pageNum" name="pageNum" />
		<!-- 总行数 -->
		<input type="hidden" id="total" name="total" />

      <div class="input-group-addon">查询条件</div>
      <input class="form-control has-success" type="text" id="queryText" placeholder="请输入查询账号">
    </div>
  </div>
  <button type="button" class="btn btn-warning" id="queryBtn"><i class="glyphicon glyphicon-search"></i> 查询</button>
</form>
<button type="button" class="btn btn-danger" style="float:right;margin-left:10px;" id="deleteBtns"><i class=" glyphicon glyphicon-remove"></i> 删除</button>
<button type="button" class="btn btn-primary" style="float:right;" onclick="window.location.href='add.html'"><i class="glyphicon glyphicon-plus"></i> 新增</button>
<br>
 <hr style="clear:both;">
          <div class="table-responsive">
            <table class="table  table-bordered" id="tab">
              <thead>
                <tr >
                    <th width="30">#</th>
                  <th width="60">用户ID</th>
				  <th width="30"><input type="checkbox"  id="allcheckbox"></th>
                  <th>账号</th>
                  <th>名称</th>
                  <th>邮箱地址</th>
                  <th width="100">操作</th>
                </tr>
              </thead>
                <tbody id="tbo">
                </tbody>
			  <tfoot>
			     <tr >
				     <td colspan="6" align="center">
						<ul  class="pagination">

						</ul>
					 </td>
				 </tr>

			  </tfoot>
            </table>
          </div>
			  </div>
			</div>
        </div>
      </div>
    </div>

    <script src="../jquery/jquery-2.1.1.min.js"></script>
    <script src="../bootstrap/js/bootstrap.min.js"></script>
	<script src="../script/docs.min.js"></script>
        <script type="text/javascript">

            $(function () {
                getList(1);
                $(".list-group-item").click(function () {
                    if ($(this).find("ul")) {
                        $(this).toggleClass("tree-closed");
                        if ($(this).hasClass("tree-closed")) {
                            $("ul", this).hide("fast");
                        } else {
                            $("ul", this).show("fast");
                        }
                    }
                });
            });
                //加载数据
                function getList(pageno) {
                    $.ajax({
                        type: "post",
                        url: "/manager/index",
                        data:{
                            "pageno":pageno,
                            "pagesize":10
                        },
                        datatype: "json",
                        success: function (data) {
                            var html='';
                            var page=data;
                            $.each(page.datas, function (index, item) {
                                html +='<tr>';
                                html +='   <td>' +(index+1) + '</td>';
                                html +='   <td>' +item.id + '</td>';
                                html +='   <td><input type="checkbox" id="' + item.id + '"/>';
                                html +='   <td>' + item.loginacct + '</td>';
                                html +='   <td>' + item.username + '</td>';
                                html +='   <td>' + item.email + '</td>';
                                html +='   <td><button type="button" class="btn btn-success btn-xs" id="assignBtn" onclick="assignRole(this)"><i class=" glyphicon glyphicon-check"></i></button>';
                                html +='   <button type="button" class="btn btn-primary btn-xs" id="updateBtn" onclick="upGetId(this)"><i class=" glyphicon glyphicon-pencil"></i></button>';
                                html +='   <button type="button" class="btn btn-danger btn-xs" id="delBtn" onclick="delGetId(this)"><i class=" glyphicon glyphicon-remove"></i></button>';
                                html +='   </td></tr>';
                            });
                            $('#tbo').html(html);
                            var pageBar="";
                            if(page.pageno==1){
                                pageBar+='<li class="disabled"><a href="#" id="prePage">首页<span class="sr-only">(current)</span></a></li>';
                            }else{
                                pageBar+='<li><a href="#" onclick="getList(1)">首页<span class="sr-only">(current)</span></a></li>';
                            }
                            if(page.pageno==1){
                                pageBar+='<li class="disabled"><a href="#" id="prePage">上一页<span class="sr-only">(current)</span></a></li>';
                            }else{
                                pageBar+='<li><a href="#" onclick="getList('+(page.pageno-1)+')">上一页<span class="sr-only">(current)</span></a></li>';
                            }
                            for (var i=1;i<=page.totalno;i++){
                                pageBar+='<li ';
                                if(page.pageno==i){
                                    pageBar+='class="active"';
                                }
                                pageBar+='><a href="#" onclick="getList('+i+')">'+i+'<span class="sr-only">(current)</span></a></li>';
                            }
                            if (page.pageno==page.totalno){
                                pageBar+='<li class="disabled"><a href="#">下一页</a></li>';
                            } else{
                                pageBar+='<li><a href="#" onclick="getList('+(page.pageno+1)+')">下一页</a></li>';
                            }
                            if (page.pageno==page.totalno){
                                pageBar+='<li class="disabled"><a href="#">尾页</a></li>';
                            } else{
                                pageBar+='<li><a href="#" onclick="getList('+(page.totalno)+')">尾页</a></li>';
                            }
                            $(".pagination").html(pageBar);

                        }
                    })
                }

                //模糊查询
                $("#queryBtn").click(function () {
                    var queryText = $("#queryText").val();
                    $.ajax({
                        type: "post",
                        url: "/manager/queryLike",
                        data: {"queryText":queryText},
                        datatype: "json",
                        success: function (data) {
                            if (data.result == 'SUCCESS') {
                                var html = '';
                                $.each(data.data, function (index, item) {
                                    html += '<tr>';
                                    html += '   <td>' + (index + 1) + '</td>';
                                    html += '   <td>' + item.id + '</td>';
                                    html += '   <td><input type="checkbox" id="' + item.id + '"/>';
                                    html += '   <td>' + item.loginacct + '</td>';
                                    html += '   <td>' + item.username + '</td>';
                                    html += '   <td>' + item.email + '</td>';
                                    html += '   <td><button type="button" class="btn btn-success btn-xs" id="assignBtn" onclick="assignRole(this)"><i class=" glyphicon glyphicon-check"></i></button>';
                                    html += '   <button type="button" class="btn btn-primary btn-xs" id="updateBtn" onclick="upGetId(this)"><i class=" glyphicon glyphicon-pencil"></i></button>';
                                    html += '   <button type="button" class="btn btn-danger btn-xs" id="delBtn" onclick="delGetId(this)"><i class=" glyphicon glyphicon-remove"></i></button>';
                                    html += '   </td>';
                                });
                                $('#tbo').html(html);
                                $(".pagination").html("");
                            }
                            if (data.result == 'FAILED') alert(data.message);

                        }
                    })

                });

                function upGetId(obj) {
                    //修改获取用户id
                    var Upid = $(obj).parent().prev().prev().prev().prev().prev().html();
                    //跳转到修改页面
                    window.location.href = "edit.html?id=" + Upid;
                }

                function delGetId(obj) {
                    //删除获取用户id
                    var id = $(obj).parent().prev().prev().prev().prev().prev().html();

                    $.ajax({
                        type: "delete",
                        url: "/manager/deleteUser",
                        data: {"id": id},
                        typepost: "json",
                        success: function (data) {
                            if (data.result == 'SUCCESS') {
                                alert("删除成功~");
                                window.location.href = "user.html";
                            }
                            if (data.result == 'FAILED') alert("删除失败！");
                            window.location.href = "user.html";
                        }
                    })

                }

                //点击全选
                $("#allcheckbox").click(function () {
                    //获取全选框的状态
                    var checkedStatus = this.checked;
                    //让下面的checkbox等于上面全选的状态
                    $("tbody tr td input[type='checkbox']").prop("checked", checkedStatus);
                });
                //点击批量删除按钮
                $("#deleteBtns").click(function () {
                    //获取tbody被选中的checkbox对象
                    var selectCheckbox = $("tbody tr td input:checked");
                    //循环获得被选中的列的id
                    var idStr = "";//拼接成需要传输的格式
                    $.each(selectCheckbox, function (i, n) {
                        if (i != 0) {
                            idStr += "&";
                        }
                        idStr += "id=" + n.id;
                    });
                    $.ajax({
                        type: "delete",
                        url: "/manager/deleteUsers",
                        data: idStr,
                        typepost: "json",
                        success: function (data) {
                            if (data.result == 'SUCCESS') {
                                alert("删除成功~");
                                window.location.href = "user.html";
                            }
                            if (data.result == 'FAILED') alert(data.message);
                            window.location.href = "user.html";
                        }
                    })
                });

            function assignRole(obj) {
                var userid = $(obj).parent().prev().prev().prev().prev().prev().html();
                window.location.href = "assignRole.html?userid="+userid;
            }
        </script>
  </body>
</html>
