<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xq.crowd_funding.manager.dao.TPermissionDao">

<!--auto generated Code-->
    <resultMap id="AllColumnMap" type="com.xq.crowd_funding.common.pojo.TPermission">
        <result column="id" property="id"/>
        <result column="pid" property="pid"/>
        <result column="name" property="name"/>
        <result column="icon" property="icon"/>
        <result column="url" property="url"/>
    </resultMap>

<!--auto generated Code-->
    <sql id="all_column">
        id,
        pid,
        name,
        icon,
        url
    </sql>

    <select id="getRootPermission" resultMap="AllColumnMap">
        select * from t_permission where pid is null
    </select>
    <select id="getChildrenPermissionByPid" parameterType="java.lang.Integer" resultMap="AllColumnMap">
        select * from t_permission where pid=#{id}
    </select>
<!--auto generated Code-->
    <insert id="insert" parameterType="com.xq.crowd_funding.common.pojo.TPermission">
        INSERT INTO t_permission
        VALUES (#{pojo.id},#{pojo.pid},#{pojo.name},#{pojo.icon},#{pojo.url})
    </insert>
<!--auto generated Code-->
    <insert id="insertList">
        INSERT INTO t_permission(
        <include refid="all_column"/>
        )VALUES
        <foreach collection="pojos" item="pojo" index="index" separator=",">
            (
            #{pojo.id},
            #{pojo.pid},
            #{pojo.name},
            #{pojo.icon},
            #{pojo.url}
            )
        </foreach>
    </insert>

<!--auto generated Code-->
    <update id="update">
        UPDATE t_permission set name = #{pojo.name}, icon = #{pojo.icon}, url = #{pojo.url}
        WHERE id = #{pojo.id}
    </update>

<!--auto generated Code-->
    <select id="getPermissionById" resultMap="AllColumnMap">
        SELECT <include refid="all_column"/>
        FROM t_permission where id=#{id}
    </select>

<!--auto generated Code-->
    <delete id="delete">
        DELETE FROM t_permission where id = #{pojo.id}
    </delete>
</mapper>
