<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xq.crowd_funding.manager.dao.TUserDao">

<!--auto generated Code-->
    <resultMap id="AllColumnMap" type="com.xq.crowd_funding.common.pojo.TUser">
        <result column="id" property="id"/>
        <result column="loginacct" property="loginacct"/>
        <result column="userpswd" property="userpswd"/>
        <result column="username" property="username"/>
        <result column="email" property="email"/>
        <result column="createtime" property="createtime"/>
    </resultMap>

<!--auto generated Code-->
    <sql id="all_column">
        id,
        loginacct,
        userpswd,
        username,
        email,
        createtime
    </sql>

<!--auto generated Code-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
      INSERT  INTO t_user (`id`,`loginacct`,`userpswd`,`username`,`email`,`createtime`)
      VALUES  (#{pojo.id},#{pojo.loginacct},#{pojo.userpswd,jdbcType=CHAR},#{pojo.username},#{pojo.email},#{pojo.createtime})
    </insert>

<!--auto generated Code-->
    <insert id="insertList">
        INSERT INTO t_user(
        <include refid="all_column"/>
        )VALUES
        <foreach collection="pojos" item="pojo" index="index" separator=",">
            (
            #{pojo.id},
            #{pojo.loginacct},
            #{pojo.userpswd},
            #{pojo.username},
            #{pojo.email},
            #{pojo.createtime}
            )
        </foreach>
    </insert>

<!--auto generated Code-->
    <update id="update">
        UPDATE t_user
           set loginacct=#{pojo.loginacct},username=#{pojo.username},email=#{pojo.email}
         WHERE id = #{pojo.id}
    </update>

<!--auto generated Code-->
    <select id="select" resultMap="AllColumnMap">
        SELECT <include refid="all_column"/>
        FROM t_user
        <!--<where>-->
            <!--<if test="pojo.id != null"> AND id = #{pojo.id} </if>-->
            <!--<if test="pojo.loginacct != null"> AND loginacct = #{pojo.loginacct} </if>-->
            <!--<if test="pojo.userpswd != null"> AND userpswd = #{pojo.userpswd} </if>-->
            <!--<if test="pojo.username != null"> AND username = #{pojo.username} </if>-->
            <!--<if test="pojo.email != null"> AND email = #{pojo.email} </if>-->
            <!--<if test="pojo.createtime != null"> AND createtime = #{pojo.createtime} </if>-->
        <!--</where>-->
        -- LIMIT 1000
    </select>

    <select id="queryList" resultType="com.xq.crowd_funding.common.pojo.TUser">
    SELECT <include refid="all_column"/>
    FROM t_user limit #{startIndex},#{pagesize}
    </select>

    <select id="queryCount" resultType="java.lang.Integer">
        SELECT count(*) FROM t_user
    </select>

    <delete id="deleteUsers">
        DELETE FROM t_user where id = #{pojo.id}
    </delete>

    <!-- 模糊查询 -->
    <select id="queryLike" parameterType="java.lang.String"
            resultType="com.xq.crowd_funding.common.pojo.TUser">

        SELECT <include refid="all_column"/>
        FROM t_user where loginacct like '%${queryText}%'
    </select>
</mapper>
